# 1. ECOS

In [2]:
# packages
import pandas as pd
import requests 
import xml.etree.ElementTree as ET
import os

# set base directory
base_dir = 'D:/stock-market-index-prediction'
os.chdir(base_dir)

In [3]:
# get url list of ecos
ecos_dir = './data'
ecos_file = 'ecos_url.xlsx'
df_ecos = pd.read_excel(f'{ecos_dir}/{ecos_file}')
# urls are in the 'target_url' column
url_list_ecos = list(df_ecos['target_url'])

In [4]:
# get data
ecos_df = pd.DataFrame()

for idx, url in enumerate(url_list_ecos):
    response = requests.get(url)
    temp_df = response.json()
    # [service name][row]
    temp_df = pd.DataFrame(temp_df['StatisticSearch']['row'])
    # elimanate unnecessary columns
    temp_df = temp_df[['TIME', 'ITEM_NAME1', 'DATA_VALUE']]
    item_name = temp_df.loc[0, 'ITEM_NAME1']
    temp_df.rename(columns={'DATA_VALUE': item_name}, inplace=True)
    temp_df.drop('ITEM_NAME1', axis=1, inplace=True)
    
    if idx==0:
        ecos_df = temp_df
    else:
        ecos_df = pd.merge(ecos_df, temp_df, on='TIME', how='outer')
        break
        
ecos_df.sort_values('TIME', ascending=True, inplace=True)
ecos_df.reset_index(drop=True, inplace=True)

In [5]:
ecos_df

       TIME 한국은행 기준금리 KOSPI_종가
0    199905      4.75      NaN
1    199906      4.75      NaN
2    199907      4.75      NaN
3    199908      4.75      NaN
4    199909      4.75      NaN
..      ...       ...      ...
271  202112         1  2977.65
272  202201      1.25  2663.34
273  202202      1.25  2699.18
274  202203      1.25  2757.65
275  202204       1.5      NaN

[276 rows x 3 columns]